myenv
# Ignore MLflow tracking directories
mlruns/
mlartifacts/

# Ignore artifacts folder except DVC files (including subfolders)
artifacts/*
!artifacts/
!artifacts/DataIngestionArtifacts/
!artifacts/**/*.dvc

# Ignore logs
logs/

# Ignore specific files
/tokenizer.pickle
.env

# Track all .dvc files and dvc.lock
!*.dvc
!dvc.lock
